<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 syntaxCheck="false"
		 strict="true"
		 timeoutForSmallTests="20"
		 timeoutForMediumTests="30"
		 timeoutForLargeTests="600">
	<testsuites>
		<testsuite name="Tests">
			<directory suffix="Test.php">.</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../Library/</directory>
		</whitelist>
	</filter>
</phpunit>